.btn-rule{
    border: blue 2px solid;
    color: blue;
    box-shadow: 1px 1px 2px 0px lightblue;
    background: #FFF;
    width: 10%;
    padding: 1rem 1rem;
    height: fit-content;
}


.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.body{
    width:100%;
}

.div-box{
    box-shadow: 2px 5px 2px 2px #DCDCDC;
    margin: 0.2rem 5rem;
    padding:0.25rem 0.1rem;
}

.header-color{
    background: lightgreen;
    color: #000;
}


.content{
    padding: 0.5rem 0.5rem;
    box-shadow:1px 1px 1px 2px #DCDCDC;
    margin: 1.5rem 5rem;
}

.align-center{
    text-align: center;
}

.width__15{
    width:15%;
}

.width__5{
    width:5%;
}

.delete{
    cursor: pointer;
}


select , input{
    border: #DCDCDC 1px solid;
    padding: 0.25rem 0.25rem;
}