<app-search></app-search>
<button (click)='addRule()'>Add More Rule</button>
<table style='width:100%;'>
    <thead>
        <th>Sr No</th>
        <th>Protocol</th>
        <th>Source IP</th>
        <th>Destination IP</th>
        <th>Access Type</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr *ngFor='let date of tableData;let i = index'>
            <td>{{i}}</td>
            <td>{{data.protocol}}</td>
            <td>{{data.sourceIp}}</td>
            <td>{{data.destinationIp}}</td>
            <td>{{data.accessType}}</td>
        </tr>
    </tbody>
</table>